/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";


* {
  font-family: 'Noto Sans JP', sans-serif;
}


.ql-container.ql-snow {
  outline: none;
  border: none;
}

.ql-editor.ql-blanc {

}

body {
  background: lavender;
  width: auto;
}

.head {
  position: relative;
  width: 95%;
  margin: auto;
  height: 100px;
  background: #1f1f1f;
  color: white;
  border-radius: 5px;
  display: block;
}

.admin-user-main-posts-card {
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
  z-index: 1;
  padding-bottom: 80px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0, .3);
  z-index: 1;
}

.title {
  position: absolute;
  font-size: 2.3rem;
  bottom: 40%;
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  text-shadow: black 0 0 5px;
  letter-spacing: 3px;
}

.btn {
  min-width: 50px;
  font-size: 1.2rem;
  background: #1f1f1f;
  border: none;
  color: white;
  transition: background 0.5s;
  height: 40px;
  border-bottom: 2px solid #1f1f1f;
  cursor: pointer;
}

.btn.Home {
  height: 40px;
}

.btn:hover {
  color: black;
  background: #ffffff;
  transition: background 0.5s;
}

.auth {
  height: 50px;
  color: white;
  border-bottom: 2px solid #1f1f1f;
  cursor: pointer;
  margin-bottom: 20px;
}

.auth:hover {
  color: lightskyblue;
  border-bottom: 2px solid lightskyblue;
  transition: border-bottom-color 0.5s;
}

.close {
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 27px;
  height: 27px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 3px;
  width: 20px;
  height: 4px;
  background: white;
}

.close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar {
  height: 50px;
  width: 90%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

.danger {
  small {
    color: red;
    font-size: small;
  }
}

.load {
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  box-shadow: 0 0 20px;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-create-refactor {
  width: 60%;
  margin-top: 50px;
  border: 1px solid silver;
  margin-left: 50%;
  transform: translateX(-50%);
  background: #b1b1c4;
  border-radius: 10px;

  .form-create-refactor-title {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .form-control-refactor-create {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 80%;

    label {
      font-size: 18px;
      font-weight: bold;
    }

    input {
      width: 100%;
      height: 25px;

      &.ng-invalid.ng-touched {
        border: 2px solid red;
      }

      &.ng-valid.ng-touched {
        border: 2px solid green;
        background: lavender;
      }
    }

    #text {
      background: white;
      min-height: 200px;
      border: 1px solid black;
      width: 100%;

      p {
        width: 100%;
      }
    }
  }

  .danger {
    margin-top: 0;
  }

  .btn-refactor-create {
    width: auto;
    margin-top: 70px;
    background: #1f1f1f;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    margin-bottom: 30px;
    min-height: 40px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
  }

  .btn-refactor-create:hover {
    color: black;
    background: #ffffff;
    transition: background 0.6s;
  }
}

.content-post-admin-user {
  min-height: 800px;
  width: 70%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
  border: 1px solid silver;
  margin-top: 40px;
  background: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 5px 5px black;
  color: white;

  .content-title {
    height: 500px;
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      height: 500px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom: 1px solid white;
    }
  }

  .content-text {
    width: 100%;

    h1 {
      text-align: center;
    }

    p {
      margin: 20px
    }


  }
}

.post-date {
  position: absolute;
  right: 5px;
  bottom: 100%;
  border-bottom: 1px solid silver;
  color: silver;
}

.post-information {
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.posts-card-user-admin {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 100px;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(200px,250px));
}

.user-admin-posts-search {
  background: white;
  width: 400px;
  height: 10px;
  position: absolute;
  top: 80px;
  left: 3%;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;

  .header {
    width: 100%;
    text-align: center;
    background: black;
    position: absolute;
    top: 0;
    color: white;
    height: 100px;

    .input-filter-search {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);

      input {
        width: 250px;
        outline: none;
      }
    }
  }

  .container-posts-search-admin-user {
    margin-top: 100px;
    width: auto;

    .post-admin-user-search {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5px;
      width: 90%;
      height: 95px;
      border: 1px solid black;
      box-sizing: border-box;
      display: flex;
      position: relative;
      cursor: pointer;

      .image-block-search {
        height: 92px;
        width: 140px;
        position: absolute;
        top: 4px;

        #image {
          border-right: 1px solid black;
          width: 140px;
          height: 85px;
        }
      }

      .title-search-block {
        position: absolute;
        left: 150px;
        top: 0;
      }
    }

    .post-admin-user-search:first-child {
      border-top: 0;
    }
  }
}
